.card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 20px;
  background-color: white;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .card {
    padding: 10px; /* Adjust padding for mobile */
    border-radius: 15px; /* Adjust border-radius for mobile */
  }
}
