.titles-wrapper {
  .grey-text {
    text-transform: uppercase;
    margin: 0;
    color: #bcbcbc;
    padding: 5px 0;
  }

  .bold-text {
    font-weight: 600;
    color: #155d92;
    margin: 0;
  }
}
